body {
    font-family: 'Roboto', sans-serif;
    /* height: 100vh; */
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.inner-div{
    width: 75%;
    padding: 20px;
    margin-bottom: 30px;
} 

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.header-links p {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}

.header-content {
    display: flex;
}

.image {
    flex: 1 0 40%;
    background-color: pink;
    margin-left: 10px;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882F6;
    border: 0;
    border-radius: 4px;
}

/* Estilos de la seccion de info */

.info {
    margin: 0 0 40px 0;
    padding: 10px;
}

h2 {
    margin: 20px auto;
    text-align: center;
}

.content-info {
    display: flex;
    justify-content: center;
    width: 80%;
    align-items: center;
    margin: auto;
    gap: 16px;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 200px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: bisque;
    border: 2px solid blue;
}

.item-info p {
    align-self: center;
    text-align: center;
}

/* Estilos de seccion cita */